<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32488750865-i61i6ff8ejk766gtafbdgvlsr0f8j9ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32488750865-i61i6ff8ejk766gtafbdgvlsr0f8j9ni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32488750865-mnucqr85cr6eca31439758a0rbggludq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAULZyLM2l9RjtzzycqUhuDAvYNye4fHYU</string>
	<key>GCM_SENDER_ID</key>
	<string>32488750865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Squad</string>
	<key>PROJECT_ID</key>
	<string>squad-db9d1</string>
	<key>STORAGE_BUCKET</key>
	<string>squad-db9d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32488750865:ios:166ff6e04b174c911c56b0</string>
	<key>DATABASE_URL</key>
	<string>https://squad-db9d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>